<div class="wrapper aione-align-left font-weight-100">
	<div class="ar pv-20">
		<div id="aione_footer_widget_1" class="ac l25 m50 s100">
			<h4 class="mt-10  white">About</h4>
			<nav class="aione-nav vertical dark slide-up">
				<ul id="aione_menu_footer" class="aione-menu">
					<li class="aione-nav-item level0">
						<a href="https://aioneframework.com/"  title="Aione Framework Website Homepage">
						<span class="nav-item-text" data-hover="Home">Home
						</span>
						</a>
					</li>
					<li class="aione-nav-item level0">
						<a href="https://aioneframework.com/about.html">
						<span class="nav-item-text" data-hover="About">About
						</span>
						</a>
					</li>
					 <li class="aione-nav-item level0">
						<a href="https://aioneframework.com/docs" target="_blank" rel="noopener" title="Aione Framework Documentation">
						<span class="nav-item-text" data-hover="Docs">Docs</span>
						</a>
					</li>
					<li class="aione-nav-item level0">
						<a href="https://aioneframework.com/play" target="_blank" rel="noopener" title="Aione Framework Code Playground">
						<span class="nav-item-text" data-hover="Play">Play</span>
						</a>
					</li>
					<li class="aione-nav-item level0">
						<a href="https://aioneframework.com/builder" target="_blank" rel="noopener" title="Aione Framework Drag and Drop Page Builder>
						<span class="nav-item-text" data-hover="Builder">Builder
						</span>
						</a>
					</li> 
				</ul>
			</nav>
		</div>
		<div  id="aione_footer_widget_2" class="ac l25 m50 s100">
			<h4 class=" mt-10  white">Ventures</h4>
			<nav class="aione-nav vertical dark slide-up">
				<ul class="aione-menu">
					<li class="aione-nav-item level0">
						<a href="http://oxosolutions.com/" target="_blank" rel="noopener" title="OXO Solutions®" >
						<span class="nav-item-text" data-hover="OXO Solutions®">OXO Solutions®</span>
						</a>
					</li>
					<li class="aione-nav-item level0">
						<a href="http://makemyfolio.com/" target="_blank" rel="noopener" title="MakeMyFolio Professional Portfolio" >
						<span class="nav-item-text" data-hover="MakeMyFolio">MakeMyFolio
						</span>
						</a>
					</li>
					<li class="aione-nav-item level0">
						<a href="http://darlic.com/" target="_blank" rel="noopener" title="Darlic® Platform">
						<span class="nav-item-text" data-hover="Darlic®">Darlic®</span>
						</a>
					</li>
					<li class="aione-nav-item level0">
						<a href="http://adminpie.com/" target="_blank" rel="noopener" title="AdminPie Dashboard" >
						<span class="nav-item-text" data-hover="AdminPie">AdminPie
						</span>
						</a>
					</li>
					<li class="aione-nav-item level0">
						<a href="http://populaa.com/" target="_blank" rel="noopener" title="Populaa Network" >
						<span class="nav-item-text" data-hover="Populaa">Populaa
						</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div  id="aione_footer_widget_3" class="ac l25 m50 s100">
			<h4 class="mt-10  white">Initiatives</h4>
			<nav class="aione-nav vertical dark slide-up" >
				<ul class="aione-menu ">
					<li class="aione-nav-item level0">
						<a href="http://dkranti.com/" target="_blank" rel="noopener" title="Dkranti" >
						<span class="nav-item-text" data-hover="Dkranti">Dkranti</span>
						</a>
					</li>
					<li class="aione-nav-item level0">
						<a href="http://darlic.org/" target="_blank" rel="noopener" title="Darlic Organization Website" >
						<span class="nav-item-text" data-hover="Darlic Organization">Darlic Organization
						</span>
						</a>
					</li>
					<li class="aione-nav-item level0">
						<a href="http://punjabimaaboli.com/" target="_blank" rel="noopener" title="Punjabi Maa Boli Website" >
						<span class="nav-item-text" data-hover="Punjabi Maa Boli">Punjabi Maa Boli</span>
						</a>
					</li>
					<li class="aione-nav-item level0">
						<a href="http://sikhvichardhara.com/" target="_blank" rel="noopener" title="Sikh Vichardhara Website" >
						<span class="nav-item-text" data-hover="Sikh Vichardhara">Sikh Vichardhara
						</span>
						</a>
					</li>
					<li class="aione-nav-item level0">
						<a href="http://oxosolutions.com/initiatives/skill-yoga" target="_blank" rel="noopener" title="Skill Yoga" >
						<span class="nav-item-text" data-hover="Skill Yoga">Skill Yoga
						</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div  id="aione_footer_widget_4" class="ac l25 m50 s100">
			<h4 class=" mt-10  white">Tools</h4>
			<nav class="aione-nav vertical dark slide-up" >
				<ul class="aione-menu ">
					<li class="aione-nav-item level0">
						<a href="https://aioneframework.com/resources" target="_blank" rel="noopener" title="">
						<span class="nav-item-text" data-hover="Resources">Resources</span>
						</a>
					</li>
					<li class="aione-nav-item level0">
						<a href="https://tools.darlic.com/" target="_blank" rel="noopener">
						<span class="nav-item-text" data-hover="Darlic® Tools">Darlic® Tools
						</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		
	</div>
</div>
<!-- .wrapper -->