.aione-footer.dark,.aione-footer.dark a{
  background-color: #23282d;
}
.aione-footer{
  margin:0;
}
/*.aione-copyright {

     padding:0px;
     border-top:none;
    }


    .aione-copyright.dark {
    background-color: #121519;
}*/